h1{
    color:rgb(129, 0, 250);
    font-size:50px;
    text-align: center;
    border: solid 10px;
    padding: 10px;
}

h2{
    color:rgb(129, 0, 250);
}

h3{
    color:rgb(129, 0, 250);
    font-size: 25px;
    text-align: center;
}

a{
    color: rgb(163, 68, 252);
    font-size: 20px;
}

body{
    background-color: rgb(226, 196, 255);
    font-style: italic;
}

p{
    font-size: 20px;
    text-align: center;
}

li{
    font-size: 20px;
}

img{
    width: 1820px;
    border: solid rgb(129, 0, 250) 10px;
}