h1{
    color:rgb(129, 0, 250);
    font-size:50px;
    text-align: center;
    border: solid 10px;
    padding: 10px;
}

h2{
    color:rgb(129, 0, 250);
}

h3{
    color:rgb(129, 0, 250);
    font-size: 25px;
    text-align: center;
}

a{
    color: rgb(163, 68, 252);
    font-size: 22px;
}

body{
    background-color: rgb(226, 196, 255);
    font-style: italic;
}

p{
    font-size: 20px;
    text-align: center;
}

li{
    font-size: 22px;
}

img{
    width: 1780px;
    border: solid rgb(129, 0, 250) 10px;
    text-align: center;
}

div{
    padding: 10px;
    border: solid 10px rgb(129, 0, 250);
}

span {
    font-weight: bold;
    color: blueviolet;
}

#id1{
    border: solid 2px  blueviolet;
    border-radius: 7px;
    background-color: rgb(198, 152, 240);
}

.grupo{
    font-weight: bold;
    color: blueviolet;
    font-size: 25px;
}

iframe{
    padding: 25px;
}