:root{
    --cor1: #000000;
    --cor2: #ffffff;
}

body {
    background-image: linear-gradient(rgb(197, 233, 252),rgb(203, 238, 255) );
    width: calc(100% - 30px);
    text-align: center;
    padding: 10px;
}

h1{
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}

dl{
    font-size: 22px;
}

p{
    font-size: 25px;
    margin: 20px;
    text-align:  center;
}

img{
    max-width: 553px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: calc(100% - 20px);
    height: 100%;
}

span{
    font-weight: bold;
}

.listaTeclados, .listaComponentes, .listaMarcas, .listaTecnicas{
    border: solid var(--cor1) 3px;
    border-radius: 10px;
    width: 310px;
    max-width: 553px;
    margin: auto;
    height: 260px
}

.informacoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.titulo{
    border: var(--cor1) solid 3px;
    border-radius: 10px;
    width: 280px;
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 5px;
    
}

#oqe{
    padding-bottom: 50px;
}

a{
    color: var(--cor1);
    text-decoration: none;
}

.conteudoPagina2{
    text-align: justify;
    padding-bottom: 10px;
}

.listaPagina2{
    text-align: left;
    font-size: 25px;
}

.listaArranjador{
    padding-bottom: 10px;
}

.linkItens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.comprarTeclado{
    color: var(--cor1);
    font-size: 20px;
    background-color:  rgb(99, 170, 202);
    width: 147px;
    height: 45px;
    border: solid 5px  rgb(99, 170, 202);
    border-radius: 10px;
}

.fotoPag2{
    border: solid 5px rgb(99, 170, 202);
}

h3{
    padding-top: 20px;
}

.legendaImg{
    font-size: 20px;
    margin: 5px;
}