* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header {
    height: 100px;
    background-color: rgb(255, 105, 143);
}

.menu {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-menu {
    position: relative;
}

.item-menu:hover .submenu {
    max-height: 100vh;
}

.submenu {
    position: absolute;
    left: 0px;
    width: max-content;
    max-height: 0;
    background-color: rgb(255, 167, 189);
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
}

.submenu a {
    display: block;
    font-weight: bold;
    color: #7a0737;
    text-decoration: none;
}

.submenu a:hover {
    color:#ffffff
}

.link-menu {
    font-size: 20px;
    font-weight: bold;
    color: #7a0737;
    text-decoration: none;
}

.link-menu:hover {
    color: #ffffff;
}

.link-submenu {
    font-size: 16px;
    margin: 10px;
}

.div1, .div2, .div3 {
    width: 500px;
    height: 100px;
}
.div1 {
    background-color: rgb(255, 59, 108);
}

.div2 {
    background-color: rgb(253, 76, 120);
}

.div3 {
    background-color:  rgb(255, 105, 143);
}

@media (max-width: 600px){
    .div1, .div3 {
        max-width: 200px;
    }
    .div2 {
        display: none;
    }
}

@media (min-width: 601px){
    .div1 {
        visibility: visible;
    }
}