
:root{
    --cor-principal:#2f86d6;
    --cor-secundaria-contraste: #ffca3a;
    --cor-secundaria: #ffa500;
}
* {
    margin: 0;
    padding: 0;
}

.secao-banner {
    background-color: var(--cor-principal);
    padding: 100px 0px;
}

body{
    background-color: var(--cor-secundaria-contraste);
}

.container-banner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-texto {
    color: #fff;
    padding: 10 px 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container-banner-imagem {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 468px;
}

.container-banner-imagem img {
    width: 100%;
    height: 100%;
}

.secao-cards {
    background-color: var(--cor-secundaria);
    padding: 100px 0px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards-pais,
.container-cards-filhos {
    max-width: 1024px;
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 280px;
    height: 450px;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    text-align: center;
}

.card-info {
    background-color: var(--cor-principal);
    flex-grow: 1;
}

.container-card-imagem {
    height: 150px;
}

.container-card-imagem img {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 26px;
    margin: 60px 0;
}

#fonte {
    text-align: right;
}
