footer {
    background-color: rgb(255, 82, 82);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 130px;
    margin-top: 10px;
}

footer p{
    font-size: 20px;
    text-align: center;
}

footer a:hover{
    border: none;
}

.logos{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.400);
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
}

.footerLinks{
    padding: 5px;
}

.linksOutrasPag{
    text-align: left;
    padding-left: 20px;
}

#redesSociais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    height: 35px;
    align-items: center;
    margin-bottom: 20px;
}