header{
    background-color:rgb(255, 82, 82);
    width: 100%;
    height: auto;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    align-items: center;
}

header a{
    text-decoration: none;
    padding: 10px;
    color: black;

}

nav a:hover{
    color: white;
    background-color: rgba(255, 0, 0, 0.288);
    border-radius: 10px;
}