:root{
    --cor-principal: rgb(253, 128, 128);
    --cor-secundaria:  rgb(255, 82, 82);
}

h1{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 0%;
}

p{
    text-align: center;
    font-size: 25px;
}

body{
    padding: 5px;
    background-image: linear-gradient(var(--cor-principal), rgb(255, 173, 173));
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: cursive;
}

.pagInicial{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    padding: 15px;
    margin-bottom: 15vh;
    text-align: center;
}

img{
    border-radius: 10px;
    width: 100%;
}

.imagensAnimais{
    width: 300px;
    border: solid var(--cor-secundaria) 2px;
}

.fotosAnimais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

ol, ul{
    padding: 0%;
}

.sobreMim{
    margin-left: 15%;
    margin-right: 15%;
    max-width: 700px;
    min-width: 300px;
    text-align: justify;
    line-height: 1.6;
    margin: 10px;
    font-family: cursive;

}

.textoAnimal{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    margin-top: 50px;
}

.fotoSobreMim{
    width: 300px;
    margin-left: 0%;
    border: solid var(--cor-secundaria) 2px;
    padding: 5px;
}

.textoPrincipalSobre{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.form{
    background-color: var(--cor-secundaria);
    width: 300px;
    height: auto;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 10px;
    border: 10px double rgb(255, 66, 66);
}

.form label{
    display: block;
    margin: 3px;
    font-weight: bold;
    margin-left: 7px;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], textarea{
    border-radius: 5px;
    width: 282px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    border: none;
    font-family: Arial, sans-serif;
}

.form button{
    width: 282px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin: 7px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.textoProjeto{
    font-size: 18px;
}

.cardProjeto{
    background-color:  rgb(253, 107, 107);
    border: var(--cor-secundaria) 3px solid;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.botaoProjeto{
    background-color: rgb(255, 47, 47);
    border-radius: 6px;
    margin: 6px;
}

.botaoProjeto a{
    text-decoration: none;
    color: var(--cor-principal);
}

.botaoProjeto a:hover{
    color: white;
}

.cardProjeto img{
    width: 80%;
    height: 35%;
    margin-bottom: 8%;
}

.sectionProjeto{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}
